name: Test and publish

on: [push, pull_request]

env:
  REPOSITORY: moodle-php-apache
  DOCKERHUB_OWNER: moodlehq
  GH_OWNER: moodlehq

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build image
        run: |
          docker build . -t moodle-php-apache

      - name: Run tests
        run: |
          docker run --name test0 -d -p 8000:80 -v $PWD/tests/fixtures:/var/www/html moodle-php-apache
          docker exec test0 php /var/www/html/test.php
          curl --fail http://127.0.0.1:8000/test.php

      - name: Display container logs on failure
        if: failure()
        run: |
          docker logs test0

      - name: Cleanup docker images
        run: |
          docker rm -f test0

  Publish:
    # Completely avoid forks and pull requests to try this job.
    if: github.repository_owner == 'moodlehq' && github.event_name == 'push'
    # Requires Test to pass
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Calculate the tags to be pussed to the registries.
      - name: Calculate image tag names
        id: calculatetags
        uses: docker/metadata-action@v3
        with:
          images: |
            ${{ env.DOCKERHUB_OWNER }}/${{ env.REPOSITORY }}
            ghcr.io/${{ env.GH_OWNER }}/${{ env.REPOSITORY }}
          flavor: |
            latest=false
          tags: |
            type=raw,value={{branch}}

      # https://github.com/docker/setup-qemu-action#usage
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # https://github.com/docker/login-action#docker-hub
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # https://github.com/docker/login-action#github-container-registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/docker/build-push-action#multi-platform-image
      - name: Build and push to Docker Hub and Github registries
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.calculatetags.outputs.tags }}

      # https://github.com/peter-evans/dockerhub-description
      # It's horrible that we need to use password here instead of PAT, because
      # that's only available via CLI what defeats 2FA. Anyway, we need to
      # auto-update the description, so using it (till available via PAT).
      # Link: https://github.com/peter-evans/dockerhub-description/issues/10
      # Note that we only update the description with the master branch version.
      - name: Set Docker Hub description from README.md
        if: github.ref == 'refs/heads/master'
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: ${{ env.DOCKERHUB_OWNER }}/${{ env.REPOSITORY }}
